.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #aa78a6;
}

.welcomepage{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #aa78a6;
}
.container {
  max-width: 800px;
  margin: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.record {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}

.record h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #B2FFD6;
}

.record p {
  font-size: 18px;
  margin: 5px 0;
  color:#B8BAC8;
  font-weight: bold;
}

.record .summary {
  font-style: italic;
}
